<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/homepage_style.css?v=1.0}">
    <style>

    </style>
    <title>Product Page</title>
</head>
<body>

<header>
    <!-- 顶部栏，包含搜索框和登录/购物车 -->
    <div class="top-bar">
        <h1>7Haven Your Dream</h1>
        <form action="/7haven/products/search" method="get">
            <label>
                <input type="text" name="keyword" placeholder="Search products...">
            </label>
            <button type="submit" class="image-container">
                <img src="/images/SearchW.png" alt="Search" style="width: 15px; height: 15px;margin-right: 0px;" class="default-image">
                <img src="/images/SearchG.png" alt="Search" style="width: 15px; height: 15px;margin-right: 0px;" class="hover-image">
            </button>
        </form>

        <div class="user-info" th:if="${session.username != null}">
            <p>Welcome, <span th:text="${session.username}">User</span>!</p>
            <a href="/7haven/cart" class="image-container" style="margin-left: 20px">
                <img src="/images/CartW.png" alt="Cart"  class="default-image">
            <img src="/images/CartG.png" alt="Cart"  class="hover-image">
            </a>
            <a th:href="@{/7haven/display/profile/{username}(username=${session.username})}" class="image-container">
                <img src="/images/PersonalInformationW.png" alt="Profile"  class="default-image">
                <img src="/images/PersonalInformationG.png" alt="Profile"  class="hover-image">
            </a>
            <a href="/logout" class="image-container">
                <img src="/images/LogoutW.png" alt="Logout"  class="default-image">
                <img src="/images/LogoutG.png" alt="Logout"  class="hover-image">
            </a>

        </div>
        <div th:if="${session.username == null}">
            <a href="/7haven/cart" class="image-container" style="margin-left: 20px">
                <img src="/images/CartW.png" alt="Cart"  class="default-image">
                <img src="/images/CartG.png" alt="Cart"  class="hover-image">
            </a>
            <a href="/login" class="image-container">
                <img src="/images/LoginW.png" alt="Login"  class="default-image">
                <img src="/images/LoginG.png" alt="Login"  class="hover-image">
            </a>

        </div>



    </div>

    <!-- 分类导航 -->
    <nav>
        <a href="/7haven/products">Main Page</a>
        <a href="/7haven/products?category=1">Sofa</a>
        <a href="/7haven/products?category=2">Table</a>
        <a href="/7haven/products?category=3">Chair</a>
        <a href="/7haven/products?category=4">Bed</a>
        <a href="/7haven/products?category=5">Storage</a>
    </nav>
</header>

<section>
    <!-- 提示信息 -->
    <div th:if="${message}" class="message">
        <p th:text="${message}"></p>
    </div>

    <div th:if="${currentPage == 1} and ${#strings.equals(pageName, 'mainPage')}" class="carousel-container">
        <div class="carousel-slide">
            <!-- Thymeleaf loop to display hot product images -->
            <div th:each="imageUrl : ${hotProducts}">
                <img th:src="@{|${imageUrl}|}" alt="Hot Product">
            </div>
        </div>
    </div>

    <!-- 产品展示 -->
    <div class="products-container">
        <div th:each="product : ${products}" class="product">
            <a th:href="@{/7haven/product/{id}(id=${product.productId})}">
                <img th:src="@{|${product.coverImagePath}|}" alt="产品图片">
            </a>
            <h2 th:text="${product.name}" style="color: #333;">产品名称</h2>
            <p class="price" th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}">产品价格</p>
        </div>
    </div>

    <div class="pagination">
        <a th:if="${currentPage > 1} and ${categoryId != null}" th:href="@{/7haven/products(page=${currentPage - 1}, size=10, category=${categoryId})}">&laquo; Previous</a>
        <a th:if="${currentPage > 1} and ${categoryId == null} and ${keyword == null}" th:href="@{/7haven/products(page=${currentPage - 1}, size=10)}">&laquo; Previous</a>
        <a th:if="${currentPage > 1} and ${categoryId == null} and ${keyword != null}" th:href="@{/7haven/products/search(keyword=${keyword}, page=${currentPage - 1}, size=10)}">&laquo; Previous</a>

        <span th:if="${totalPages != null}" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? 'active'">
        <a th:if="${categoryId != null}" th:href="@{/7haven/products(page=${i}, size=10, category=${categoryId})}" th:text="${i}"></a>
        <a th:if="${categoryId == null} and ${keyword == null}" th:href="@{/7haven/products(page=${i}, size=10)}" th:text="${i}"></a>
        <a th:if="${categoryId == null} and ${keyword != null}" th:href="@{/7haven/products/search(keyword=${keyword}, page=${i}, size=10)}" th:text="${i}"></a>
    </span>
        <span th:if="${totalPages == null}" th:each="i : ${#numbers.sequence(1, 1)}" th:classappend="${i == currentPage} ? 'active'">
        <a th:if="${categoryId != null}" th:href="@{/7haven/products(page=${i}, size=10, category=${categoryId})}" th:text="${i}"></a>
        <a th:if="${categoryId == null} and ${keyword == null}" th:href="@{/7haven/products(page=${i}, size=10)}" th:text="${i}"></a>
        <a th:if="${categoryId == null} and ${keyword != null}" th:href="@{/7haven/products/search(keyword=${keyword}, page=${i}, size=10)}" th:text="${i}"></a>
    </span>

        <a th:if="${currentPage < totalPages} and ${categoryId != null}" th:href="@{/7haven/products(page=${currentPage + 1}, size=10, category=${categoryId})}">Next &raquo;</a>
        <a th:if="${currentPage < totalPages} and ${categoryId == null} and ${keyword == null}" th:href="@{/7haven/products(page=${currentPage + 1}, size=10)}">Next &raquo;</a>
        <a th:if="${currentPage < totalPages} and ${categoryId == null} and ${keyword != null}" th:href="@{/7haven/products/search(keyword=${keyword}, page=${currentPage + 1}, size=10)}">Next &raquo;</a>
    </div>

</section>
<footer class="footer">
    <div class="container">
        <div class="information">
            <h2>Information</h2>
            <ul>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/delivery">Delivery</a></li>
                <li><a href="/returns">Returns</a></li>
                <li><a href="/faqs">FAQs</a></li>
            </ul>
        </div>
        <div class="logo">
            <h2>7Haven</h2>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2024 7Haven. Powered by Teams7 and Springboot</p>
    </div>
</footer>


<script>
    let currentIndex = 0;
    const slides = document.querySelectorAll('.carousel-slide div');
    const totalSlides = slides.length;

    function showNextSlide() {
        const carouselSlide = document.querySelector('.carousel-slide');
        currentIndex = (currentIndex + 1) % totalSlides; // 循环播放
        const slideWidth = carouselSlide.clientWidth; // 获取滚动框的宽度
        carouselSlide.style.transform = `translateX(-${currentIndex * slideWidth}px)`; // 移动到下一张图片
    }

    // 每3秒切换一次图片
    setInterval(showNextSlide, 3000);
</script>
</body>
</html>