<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    <h1>Product Details</h1>
    <nav>
        <a href="/home">Home</a>
        <a href="/cart" style="float:right;">Cart</a>
    </nav>
</header>
<section>
    <div class="product-details">
        <img th:src="@{|/images/${product.getImages()}|}" alt="Product Image">
        <h2 th:text="${product.name}">Product Name</h2>
        <p th:text="${product.description}">Product Description</p>
        <p th:text="'$' + ${product.price}">Product Price</p>
    </div>
</section>
</body>
</html>