<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>7haven Profile</title>
	<link th:href="@{/styles/account.css}" rel="stylesheet" />
	<!-- This html author is Xu Zhiye -->

</head>

<body>
	<header>
		<h2>Welcome to Ultra 7haven Furniture</h2>
	</header>
	<section>
		<form th:action="@{/7haven/update/profile}" method="post" th:object="${user}">
			<h2 style="text-align: center;">Member Profile</h2>
			<table>
				<tr>
					<th>Real Name:</th>
					<td><input type="text" th:field="*{name}"></td>
				</tr>
				<tr>
					<th>User Name:</th>
					<td><input type="text" th:field="*{userName}"></td>
				</tr>
				<tr>
					<th>Birth Date:</th>
					<td><input type="text" th:field="*{birthDate}"></td>
				</tr>
				<tr>
					<th></th>
					<td>Date format: MM-dd-yy</td>
				</tr>
				<tr>
					<th>Gender:</th>
					<td><input type="text" th:field="*{gender}"></td>
				</tr>
				<tr>
					<th>Email: </th>
					<td><input type="text" th:field="*{email}"></td>
				</tr>
				<tr>
					<th>Phone: </th>
					<td><input type="text" th:field="*{phoneNumber}"></td>
				</tr>
				<tr>
					<th>Address: </th>
					<td><input type="text" th:field="*{address}"></td>
				</tr>

				<tr>
					<th><input type="hidden" th:field="*{customerId}"></th>
					<th><input type="hidden" th:field="*{password}"></th>
				</tr>
				<tr>
			</table>
			<table>
				<tr>
					<th>Holder Name</th>
					<th>Card Number</th>
					<th>Expiry date</th>
					<th>Bank Name</th>
				</tr>
				<tr th:each="paymentDetail, iterStat:${user.paymentDetails}">
					<td> <input type="text" th:field="*{paymentDetails[__${iterStat.index}__].holderName}"></td>
					<td> <input type="text" th:field="*{paymentDetails[__${iterStat.index}__].cardNumber}"></td>
					<td><input type="text" th:field="*{paymentDetails[__${iterStat.index}__].expiryDate}"></td>
					<td><input type="text" th:field="*{paymentDetails[__${iterStat.index}__].bankName}"></td>
					<td><input type="text" th:field="*{paymentDetails[__${iterStat.index}__].payment_customer}"></td>

				</tr>
			</table>
			<div class="container">
				<button type="submit">Update the change</button>
			</div>

			<div class="container">
				<a th:href="@{/7haven/purchase/history}" class="btn">Retrieve Purchase Records </a> &nbsp; &nbsp;
				<a href=" " onclick="history.go(-1); return false;" class="btn">Back</a>
			</div>
			<div class="form-footer"><span th:text="${MSG}" /></div>
		</form>
	</section>

</body>

</html>