<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BookStore Reset</title>
<!-- This html author is Xu Zhiye -->
</head>
<body>
	<h2 style="text-align: center;">Welcome to Ultra 7 BookStore</h2>
	<h3 style="text-align: center;">Member Reset</h3>

	<form th:action="@{/validate/reset}" th:object="${user}" method="post">
	Existing User ID: <span th:text="${session.userId}"/></br>
	New Password: <input type="text" id="password" th:field="*{password}"  placeholder="New Password" required/>
	<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
	<br/>
	New User Name:<input type="text" id="userName" th:field="*{userName}"  placeholder="(Optional)New User Name" />
		<br/>
	<button type="submit" style="background-color: rgb(255, 255, 255);">Reset</button>
	</form>
	<p><span th:text="${MSG}"/></p>
</body>
</html>