<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">

<head>
  <title>My Website</title>
  <link rel="stylesheet" th:href="@{/styles/homepagestyle.css}" />
</head>

<body>

<div th:fragment="header">
  <header>
    <div class="top-bar">
      <h1>7Haven Your Dream</h1>
    </div>
    <nav>
      <a th:href="@{/products}">HotProduct</a>
      <a th:href="@{/products?category=1}">Sofa</a>
      <a th:href="@{/products?category=2}">Table</a>
      <a th:href="@{/products?category=3}">Chair</a>
      <a th:href="@{/products?category=4}">Bed</a>
      <a th:href="@{/products?category=5}">Storage</a>
    </nav>
  </header>
</div>

</body>

</html>